
API/API.sln

API/.vs/

API/API/API.csproj.user

API/DBSetUp/bin/

API/DBSetUp/obj/Debug/

API/DBSetUp/obj/

API/DBSetUp/DBSetUp.csproj

API/API/obj/

*.sln

API/API/bin/

API/API/appsettings.Development.json

API/API/API.csproj

WebApp/node_modules/

App/node_modules/
